@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root{
    --primary-color:#E5E7EB;
    --secondary-color:#9CA3AF;
    --background:#111827;
    
}

html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    text-align:center;
    overflow-x: hidden;
 
    
}
.header{
    width: 100%;
    background-color: var(--secondary-color);
    font-size: 25px;
    padding:30px;
    margin:auto auto 5px auto;
    font-family: 'Pirata One', cursive;
    display:block;
    

}
.heading{
    padding: 2rem;
}
.main{
    width: 80%;
    display : block;
    margin: 40px auto;

}

.textbox{
    
    width: 80%;
    display:block;
    margin:0  auto;
    font-family: 'Pirata One', cursive;
    font-size: 20px;
    border-radius:0.2rem;

    

}
.btn{
    display: block;
    padding:10px 30px 10px 30px;
    margin: 10px auto 10px auto;
    font-size: 20px;
    font-family: 'Pirata One', cursive;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 0.2rem;

}
.btn:hover{
    border: 2px solid var(--background);
    cursor: pointer;
}


.footer{
    width: 100%;
    background-color: var(--secondary-color);
    font-size: 18px;
    font-family: 'Pirata One', cursive;   
    position:absolute;
    bottom:0;
    display:block;
    margin: auto;
    text-align: center;


}
p{
    padding:0 2rem;
}


